services:
    apache:
        build: ./apache
        image: apache2_server
        container_name: apache
        hostname: apache
        networks:
            apache_net:
                ipv4_address: 172.15.0.100
                interface_name: enp0s3
                mac_address: 02:50:41:00:00:01
        ports: 
            - 127.0.0.1:8081:80
            - 127.0.0.1:8082:8888
            - 127.0.0.1:8083:9000
        volumes:
            - ./apache/apache2.conf:/etc/apache2/apache2.conf
            - ./apache/ports.conf:/etc/apache2/ports.conf
            - ./apache/000-default.conf:/etc/apache2/sites-available/000-default.conf
            - ./apache/127.0.0.1_9000/index.html:/var/www/127.0.0.1_9000/index.html
            - ./apache/127.0.0.1_9000/127.0.0.1_9000.conf:/etc/apache2/sites-available/127.0.0.1_9000.conf
            - ./apache/web/index.html:/web/index.html

networks:
    apache_net:
        driver: bridge
        ipam:
            config:
                - subnet: 172.15.0.0/24
